
body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}


.container {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 20px;
    background: white;
    border-radius: 12px;
}

.card {
    background-color: white;
    width: 280px;
    text-align: center;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #e6e6e6;
}

/* Circle initials */
.circle {
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 15px auto;
}

/* Name styling */
.NAME {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.info {
    font-size: 16px;
    margin: 3px 0;
}
